@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */

.description {
    font-weight: 400;
    font-size: 1.25rem;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    font-weight: 600;
    font-size: 1.25rem;
    color:#FFFFFF;
    border: none;
    padding: 10px 60px;
    border-radius: 12px;
}
.bg-card {
    background-color: #FFFFFF;
}
/* nav styles */
.nav {
    max-width: 1159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-containner {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.logo-containner img {
    max-width: 6159;
    max-height: 62px;
}

.nav-content ul {
    display: flex;
    gap: 32px;
}

.nav-content ul li {
    list-style: none;
}

.nav-content li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
}
.home {
    color: #FEA301;
}
.about {
    color: #01ACFD;
}
.facilities {
    color: #05D4DF;
}
.admission {
    color: #5D58EF;
}
.nav button {
    background-color: orange;
}
/* banner styles */
.banner-container {
    display: flex;
    max-width: 1159px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
#Empowering {
    color:orange;
}
#vision {
    color: #01ACFD;
}
.banner-content button {
    background-color: black;
    margin-top: 24px;
}
.banner-container img {
    width: 41%;
}
/* curriculum section styles  */
.main-container {
    max-width: 1440px;
    height: 780px;
    background:url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.curriculum-container {
    width: 1159px;
    margin: 0 auto;
}
.section-title {
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 2.8rem;
}
.card-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.card {
    width: 350px;
    padding: 80pz 18px;
    text-align: center;
    border-radius: 19px; 
    box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05);   
}
.card img {
    margin-top: 50px;
}
.card-title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 32px;
}
.card-description {
    margin-top: 33px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #808080;
}
.card-A, .card-B, .card-C{
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: 34px;
    margin-bottom: 40px;
}
.card-A {
    color:#64C8FF;
}
.card-B {
    color: #F0AA00;
}
.card-C {
    color: #8700FF;
}
.lg1 {
    background: linear-gradient(189deg, #DEF5FF ,#FFFFFF 40%, white);
}
.lg2 {
    background: linear-gradient(189deg, #FFF4DC ,#FFFFFF 40%);
}
.lg3 {
    background: linear-gradient(189deg, #EEE1FF,#FFFFFF 40%);
}
.symbol-container{
    font-size: 3rem;
    width: 150px;
    height: 60px;
    margin: 80px auto;
    display: flex ;
    gap: 10px;
}
.symbol {
    background-color: orange;
    width: 70px;
    height: 60px;
    padding-top: 10px;
    border-radius: 50%;
    text-align: center;
    color: white;
}
/* story section styles */
.story-container {
    max-width: 1440px;
    height: 1020px;
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 1)),url(../assets/bg.png);

}
#container-title {
    background:url(../assets/bg.png);
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-card {
    width: 530px;
    border-radius: 16px;
    grid-area: large-card;
}
.large-card h4 {
    padding-left: 38px;
    font-weight: 700;
    font-size: 24px;
}
.story-description {
    padding-left: 38px;
    font-weight: 500;
    font-size: 0.96rem;
    color: #666666;
    margin-top: 48px;
    margin-bottom: 34px;
}
.large-card img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    margin-bottom: 58px;
}
.story-card-common-style {
    width: 290px;
    height: 300px;
    border-radius: 16px;
}
.story-title {
    padding-left: 38px;
}
.story-card-button {
    /* relative position style */
}
.story-card-common-style img {
    height: 60%;
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.card-01{
    grid-area: card-01;
}
.card-02{
    grid-area: card-02;
}
.card-03{
    grid-area: card-03;
}
.card-04{
    grid-area: card-04;
}
.story-card-container {
    display: grid;
    max-width: 1159px;
    min-width: 100px;
    margin: 0 auto;
    grid-template-areas: 
    "large-card large-card card-01 card-02"
    "large-card large-card card-01 card-02"
    "large-card large-card card-03 card-04"
    "large-card large-card card-03 card-04";
    gap: 18px;
}
.btn-article {   
    justify-items: center;
    margin-top: 80px;
}
.btn-article button {
    background-color: black;
}

/* footer styles */
.footer {
    max-width: 1440px;
    height: 519px;
    margin: 0 auto;
    background-color: #01ACFD;
}
.footer-section {
    padding-top: 124px;
    max-width: 1159px;
    margin: 0 auto;
    display: flex;
    
}
.info-content {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: white;
}
.info p {
    padding-left: 8px;
    margin-top: 35px;
    color: white;
}
.info {
    width: 350px;
}
.about-items {
    margin-left: 172px;
}
.about-items ul, .media {
    margin-top: 38px;
}
.about-items li {
    list-style: none;
    margin-top: 20px;
}
.about-items li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color:#FFFFFF;
}
.footer-title {
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
}
.keep-in-touch {
    margin-left: 150px;
}

@media screen and (max-width: 576px) {
    .nav {
        padding: 12px 16px 16px 12px;
        border: 1px solid  orange;
    }
    .logo-containner img {
        width: 100%;
    } 
    .logo-containner h4, .nav-content, .nav button {
        display:none;
    }
    .horizontal-line {
        width: 100%;
    }
    .banner-container {
        flex-direction: column-reverse;
        margin: 28px 17px 20px 17px;
    }
    .banner-content {
        width: 100%;
        text-align: center;
    }
    .banner-container img {
        width: 100%;
    }
}

