@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */

.description {
    font-weight: 400;
    font-size: 1.25rem;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    max-width: 1159px;
    margin: 0 auto;
}
.btn-primary {
    font-weight: 600;
    font-size: 1.25rem;
    color:#FFFFFF;
    border: none;
    padding: 10px 60px;
    border-radius: 12px;
}

/* nav styles */
.nav {
    max-width: 1159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-containner {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.logo-containner img {
    max-width: 6159;
    max-height: 62px;
}

.nav-content ul {
    display: flex;
    gap: 32px;
}

.nav-content ul li {
    list-style: none;
}

.nav-content li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
}
.home {
    color: #FEA301;
}
.about {
    color: #01ACFD;
}
.facilities {
    color: #05D4DF;
}
.admission {
    color: #5D58EF;
}
.nav button {
    background-color: orange;
}
/* banner styles */
.banner-container {
    display: flex;
    max-width: 1159px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
#Empowering {
    color:orange;
}
#vision {
    color: #01ACFD;
}
.banner-content button {
    background-color: black;
    margin-top: 24px;
}
.banner-container img {
    width: 41%;
}
/* curriculum section styles  */
.curriculum-container {
    background:url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.section-title {
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 2.8rem;
}
.card-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.card {
    width: 350px;
    padding: 80pz 18px;
    text-align: center;
    border-radius: 19px; 
    box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05);   
}
.card img {
    margin-top: 50px;
}
.card-title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 32px;
}
.card-description {
    margin-top: 33px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #808080;
}
.card-A, .card-B, .card-C{
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: 34px;
    margin-bottom: 40px;
}
.card-A {
    color:#64C8FF;
}
.card-B {
    color: #F0AA00;
}
.card-C {
    color: #8700FF;
}
.lg1 {
    background: linear-gradient(189deg, #DEF5FF ,#FFFFFF 40%, white);
}
.lg2 {
    background: linear-gradient(189deg, #FFF4DC ,#FFFFFF 40%);
}
.lg3 {
    background: linear-gradient(189deg, #EEE1FF,#FFFFFF 40%);
}
.symbol-container{
    font-size: 3rem;
    width: 150px;
    height: 60px;
    margin: 80px auto;
    display: flex ;
    gap: 10px;
}
.symbol {
    background-color: orange;
    width: 70px;
    height: 60px;
    padding-top: 10px;
    border-radius: 50%;
    text-align: center;
    color: white;
}






@media screen and (max-width: 576px) {
    .nav {
        padding: 12px 16px 16px 12px;
        border: 1px solid  orange;
    }
    .logo-containner img {
        width: 100%;
    } 
    .logo-containner h4, .nav-content, .nav button {
        display:none;
    }
    .horizontal-line {
        width: 100%;
    }
    .banner-container {
        flex-direction: column-reverse;
        margin: 28px 17px 20px 17px;
    }
    .banner-content {
        width: 100%;
        text-align: center;
    }
    .banner-container img {
        width: 100%;
    }
}

